#mmenu a {
  border-bottom: none;
}

.footer {
	font-size: 15px;
}


aside#sidebar {
    /*top: inherit;*/
    top:100px;
   /* bottom :50px;*/
    position: fixed;
    right: -240px;
    -webkit-transition: all .5s linear;
    -moz-transition: all .5s linear;
    -o-transition: all .5s linear;
    -ms-transition: all .5s linear;
    transition: all .5s linear
}



.donate-btn {
    position: absolute;
    left: -24px;
    background: #2b2f3e;
    font-size: 14px;
    padding: 15px 5px;
    width: 15px;
    color: #fff;
    -webkit-border-top-left-radius: 10px;
    -moz-border-top-left-radius: 10px;
    -o-border-top-left-radius: 10px;
    -ms-border-top-left-radius: 10px;
    border-top-left-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-bottom-left-radius: 10px;
    -o-border-bottom-left-radius: 10px;
    -ms-border-bottom-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#sidebar:hover{
    right:0;
}

.header-inner{
    position:relative;
}

a {
    color: #5fa134
}

code {
    color: #d14
}

.site-title {
    color: white
} 

/**自定义无序列表样式**/
.posts-expand .post-body ul li {
list-style-type: disc;  // 空心圆:circle，实心圆为 disc
}


/**以下为表格特殊处理**/
table {
    width: 100%; /*表格宽度*/
    max-width: 65em; /*表格最大宽度，避免表格过宽*/
    border: 1px solid #dedede; /*表格外边框设置*/
    margin: 15px auto; /*外边距*/
    border-collapse: collapse; /*使用单一线条的边框*/
    empty-cells: show; /*单元格无内容依旧绘制边框*/
}

table th,
table td {
  height: 35px; /*统一每一行的默认高度*/
  border: 1px solid #dedede; /*内部边框样式*/
  padding: 0 10px; /*内边距*/
}

table tr:hover {
    background: #efefef; 
}

table th {
    font-weight: bold; /*加粗*/
    text-align: center !important; /*内容居中，加上 !important 避免被 Markdown 样式覆盖*/
    background: rgba(158,188,226,0.2); /*背景色*/
    white-space: nowrap; /*表头内容强制在一行显示*/
}

.table-area {
    overflow: auto;
}
/**tabale end**/